#login-form h1{
	font-size: 3rem;
	color:purple;
	text-shadow:0px 3px 4px black;
	letter-spacing: 2px;
}
#login-form label{
	font-size: 17px;
	font-weight: 600;
}
#login-form input{
	font-size: 21px;
	font-weight: 600;
	letter-spacing: 1px;	
}
#login-btn{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
}
#login-btn:hover{
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.6);
}
#warn-invalid{
	display:none;
}
